@define-color theme_bg_color #36363a;
@define-color theme_entry_bg_color #47474c;
@define-color theme_fg_color #ffffff;

.window {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    border-radius: 20px;
    /* border: 3px solid @theme_selected; */
}

.container {
    padding: 15px 0px;
    border-radius: 20px;
}

.list, .header {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

.list row {
    background-color: transparent;
}

.entry {
    background-color: @theme_entry_bg_color;
    padding: 20px;
    margin: 0px;
    border-radius: 20px;
}

.entry-current {
    background-color: #3A5D9C50;
}

.list row {
    border-radius: 20px;
    padding: 0px;
    margin: 10px 10px 10px 20px;
}

.list row:selected {
    outline: 3px solid white;
}

.entry-header {
    margin-bottom: 10px;
}

popover contents, popover arrow {
    background-color: @theme_bg_color;
}
